.home-container {
    width: 100%;
    background-image: url("../../assets/img/background.png");
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home-wallpaper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

.home-wallpaper img {
    width: 70%;
    border-radius: 0.8rem;
}

.container-posts {
    margin-top: 2rem;
    width: 70%;
    flex-wrap: wrap;
}

.title-posts {
    color: #daa520;
    background-color: #0e76a8;
    width: 30%;
    text-align: center;
    font-size: 1.2rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    margin: auto;
}

.view-posts {
    background-color: #0e76a8;
    width: 100%;
    padding: 0.1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-top: 0.3rem;
    margin-bottom: 3rem;
    border-radius: 0.8rem;
    display: flex;
    justify-content: space-around;
}

a {
    text-decoration: none;
    margin: 2%;
}

.widget {
    width: 10em;
    height: 10em;
    border-radius: 0.7em;
    background-color: rgba(245, 245, 245, 0.5);
    color: #a3a3a3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2%;
}

.widget img {
    border-radius: 0.5rem;
}

.tag {
    font-weight: bold;
    text-align: center;
    color: black;
    margin-top: 0.2rem;
    text-decoration: none;
}

.tag:hover {
    color: #0e76a8;
}

.widget:hover {
    cursor: pointer;
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
}

.content-container {
    padding: 1rem;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.character-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 10px;
    max-width: 20rem;
    height: 10rem;
    padding: 20px;
}

.character-modal:hover{
    outline: none;
}

.character-info {
    display: flex;
    flex-direction: column;
}

spam {
    font-weight: 500;
}

.modal-close {
    width: 3.5rem;
    height: auto;
    background-color: #b20000;
    color: #f5f5f5;
    font-weight: bold;
    padding: 0.4rem;
    border: none;
    border-radius: 0.3rem;
    margin: 2%;
    position: absolute;
    bottom: 0;
    right: 0;
}

.modal-close:hover {
    cursor: pointer;
    background-color: #d90000;
    color: #ebcfcf;
}

.character-name {
    margin-top: 0;
}