.home-container {
    width: 100%;
    background-image: url("../../assets/img/background.png");
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home-wallpaper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

.home-wallpaper img {
    width: 70%;
    border-radius: 0.8rem;
}

.container-sagas {
    margin-top: 2rem;
    width: 70%;
}

.title-sagas {
    color: #daa520;
    background-color: #0e76a8;
    width: 5rem;
    text-align: center;
    font-size: 1.2rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.view-sagas {
    background-color: #0e76a8;
    width: 100%;
    padding: 0.1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-top: 0.3rem;
    margin-bottom: 3rem;
    border-radius: 0.8rem;
    display: flex;
    justify-content: space-around;
}

a {
    text-decoration: none;
}

.widget {
    width: 10em;
    height: 10em;
    border-radius: 1em;
    background-color: #f5f5f5;
    color: #a3a3a3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2%;
}

.tag {
    font-weight: bold;
    text-align: center;
    color: black;
    margin-top: 0.2rem;
    text-decoration: none;
}

.tag:hover {
    color: #0e76a8;
}

.widget:hover {
    cursor: pointer;
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
}